<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759471489930-m4mjj8lvicp8heg5anfc5m4jqs3067it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759471489930-m4mjj8lvicp8heg5anfc5m4jqs3067it</string>
	<key>API_KEY</key>
	<string>AIzaSyCqqUmV-7BBmNLPi77nCnHObSIIeWhvvgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>759471489930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bwinbestz.winners</string>
	<key>PROJECT_ID</key>
	<string>b-winners</string>
	<key>STORAGE_BUCKET</key>
	<string>b-winners.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759471489930:ios:9fa19ce2288798aa0e7e73</string>
	<key>DATABASE_URL</key>
	<string>https://b-winners-default-rtdb.firebaseio.com</string>
</dict>
</plist>